/*---time---*/

$sped:10s;


/*---size---*/

$ww:100vw;
$wh:100vh;
$nh:30px;
$hh:50px;
$z:0;

$pw:50px;
$ph:50px;

$cw:25px;
$ch:25px;

$hew:15px;
$heh:15px;
$hem:5px;
$ls:1px;

$scrw:100px;
$scrh:50px;



/*---color---*/

$t:transparent;
$r:red;
$g:green;
$b:blue;
$w:white;
$q:black;
$b2:#97e9ff;
$g2:#cdf99a;
$gtc:#00587a;
$screen:rgba(0, 88, 122, 0.8);

/*---src---*/

$atmosphere:'../img/floor/atmosphere.png';
$mountain:'../img/floor/mountain.png';
$floor:'../img/floor/floor.png';
$pilot:'../img/pilot/p-1.png';
$coin:'../img/coin/c-1.png';
$start:'../img/icon/start.png';

/*--coin anime--*/
$c1:'../img/coin/c-1.png';
$c2:'../img/coin/c-2.png';
$c3:'../img/coin/c-3.png';
$c4:'../img/coin/c-4.png';
$c5:'../img/coin/c-5.png';
$c6:'../img/coin/c-6.png';
$c7:'../img/coin/c-7.png';

/*--pilot anime--*/
$p1:'../img/pilot/p-1.png';
$p2:'../img/pilot/p-2.png';
$p3:'../img/pilot/p-3.png';
$p4:'../img/pilot/p-4.png';
$dead:'../img/pilot/boom.gif';
$dead2:'../img/pilot/boom-1.gif';

/*---font---*/

$font:'../font/GlueGun-GW8Z.ttf';
