@import 'default';
//@import 'value';
//@import 'font';
//@import 'animation';
//@import 'mixin';

$start:'../img/start.png';
$splash:'../img/splash.png';
$t:transparent;
$g:#cdf99a;

body {

    background: {
        image: url($splash);
        repeat: no-repeat;
        size: cover;
        position: center;
        color: $g;
    }

    canvas {
        position: fixed;
        z-index: 8;
        top: 0;
        left: 0;
        background-color: $t;

    }

    nav {
        width: 100vw;
        height: 30px;
        background-color: $t;
        position: fixed;
        z-index: 10;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;

        .score {
            width: 70px;
            margin-right: 5px;
        }

        .heart {
            width: 75px;
            margin-left: 5px;
        }
    }

    .hide {
        display: none;
    }

    footer {
        width: 100vw;
        height: 100vh;
        position: fixed;
        z-index: 9;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;

        background: {
            image: url($splash);
            repeat: no-repeat;
            size: cover;
            position: center;
            color: $t;
        }

        button {
            width: 100px;
            height: 50px;
            border: none;

            background: {
                image: url($start);
                repeat: no-repeat;
                size: contain;
                position: center;
                color: $g;
            }
        }
    }

}
